html, body, div#main, svg {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

@media (min-width: 800px) {
    html, body, div, svg {
        width: 800px;
    }
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.message {
    flex: 1 1 50%;
    padding: 1em;
    text-align: center;
    font-size: 10em;
    background: #ddd;
}

svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
