html, body, #container {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    font-size: 1.1em;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 1.5;
}

#menu button {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
}

#menu input {
    font-size: 0.9em;
    font-weight: lighter;
}

div.msg {
    padding: 5px 0;
    margin: 5px;
    text-align: center;
    width: 100%;
}

/* fix the vertical centering */
div.msg > span {
    display: inline-block;
    margin-bottom: -3px;
}

div.msg table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div.msg td {
    text-align: center;
}

div.msg h4 {
    font-weight: normal;
    cursor: pointer;
    margin-top: 23.4px;
    margin-bottom: 20.4px;
}

div.msg input {
    margin-left: 10px;
}

div.log {
    max-height: 150px;
    overflow-y: scroll;
}

div.event {
    font-style: italic;
}

.share {
    display: block;
    color: black;
    font-family: monospace;
    text-decoration: none;
    overflow-wrap: break-word;
    margin: 5px;
}

div.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#game {
    position: relative;
}

#game > svg, #game > div {
    position: absolute;
}

svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

svg text {
    --font: Arial;
    font-family: var(--font);
    text-anchor: middle;
    font-size: 40px;
    dominant-baseline: central;
}

#infobox {
    overflow-y: scroll;
}

#infobox ul {
    padding: 0;
    list-style: none;
}
