html, body, div#container {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

@media (min-width: 800px) {
    #main {
        width: 800px;
    }
}

div#container, div#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

svg text {
    --font: Arial;
    font-family: var(--font);
    text-anchor: middle;
    font-size: 40px;
    dominant-baseline: central;
}
