html, body, div#container {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

@media (min-width: 800px) {
    #main {
        width: 800px;
    }
}

div#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.msg {
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 100%;
}

div.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

svg text {
    --font: Arial;
    font-family: var(--font);
    text-anchor: middle;
    font-size: 40px;
    dominant-baseline: central;
}

#info {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    overflow-y: scroll;
}

#info ul {
    padding: 0;
}
